@{
    ViewBag.Title = "Acerca de";
}

<div class="about">
    <div class="row">
        @*<div class="col-lg-6 col-md-6 col-xs-6" style="vertical-align: middle;">*@
        <h1 class="caption-h">¿Qué queremos hacer?</h1>
        <p class="text-h">Cumplir con los más altos estándares de calidad en la fabricación de nuestros productos para satisfacer las necesidades ofreciendo a nuestros consumidores deliciosos batidos multivitamínicos diseñados para aportar las necesidades nutricionales necesarias para llevar un estilo de vida saludable. </p>
        @*</div>*@
        @*<div class="col-lg-6 col-md-6 col-xs-6" style="vertical-align: middle;">
                <img src="~/images/img2-e.jpg" />
            </div>*@
    </div>
    <br />
    <div class="row" style="align-content:center !important;">
        <div class="col-lg-6 col-md-6 col-xs-6" style="vertical-align: middle;">
            <h2 class="caption-h">Misión</h2>
            <p class="text-h">Somos una empresa dedicada a la producción y comercialización de malteadas para reducir de peso, las cuales poseen propiedades naturales con el propósito de ayudar al organismo de cada cliente a reducir los problemas de peso que puedan presentar. Son elaboradas con lo más altos estándares de calidad además de cambiar el modo de vida, para así tener una sociedad más saludable y que la comunidad haga conciencia de que las frutas son una fuente natural de vitaminas.</p>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-6" style="vertical-align: middle;">
            <img src="~/images/img1-e.jpg" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-6" style="vertical-align: middle;">
            <img src="~/images/img3-e.jpg" />
        </div>
        <div class="col-lg-6 col-md-6 col-xs-6" style="vertical-align: middle;">
            <br />
            <br />
            <h1 class="caption-h">Visión</h1>
            <p class="text-h">Para el año 2020, busca posicionar la malteada para bajar de peso a nivel nacional, por la calidad de sus componentes orgánicos, biológicos y ecológicos. Contribuiremos al alcance de un estilo de vida saludable para nuestros clientes.</p>
        </div>
    </div>
    <br />
</div>